body { 
    background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSw1bBZnPuJwCleNri4s3BTvn5Szt_gAGmPt7SST5i6drcSF-lE");
    background-repeat: no-repeat;
    background-position: center;
    }
